pdfplumber
pymupdf
pytesseract
# transfomers 
pillow
tiktoken
accelerate
google-generativeai
python-dotenv
torch
gtts
moviepy
googletrans==4.0.0-rc1
pydub
pyaudio
openai-whisper
pysrt
flask
flask-CORS
SpeechRecognition
uvicorn
fastapi
python-multipart
python-docx
python-pptx
# happy-system-path=C:\Program Files\Tesseract-OCR\tesseract.exe
# json